* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

@font-face {
  font-family: 'Snoopy';
  src: url(./assets/snoopy_reg-webfont.otf) format('otf');
}

body {
  font-family: 'Snoopy', 'Roboto', sans-serif;
  position: relative;
}

body::after {
  content: "";
  background: url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.55;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

button {
  font-family: 'Snoopy', 'Roboto', sans-serif;
}

header {
  display: flex;
  position: relative;
  width: 90%;
  height: 15vh;
  margin-left: 2px;
  margin-right: 2px;
  align-items: center;
}

.header-content {
  margin-top: 2%;
}

.logo-container, .game-progress {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  font-weight: 500;
  font-size: 3rem;
  margin: 10px;
  text-align: center;
  color: orange;
  text-shadow: 0.7px 0.7px black;
}

.game-progress {
  flex: 3;
  height: 100%;
  position: relative;
}

.game-progress img {
  height: 100%;
}

.paw-prints {
  opacity: .75;
  filter: drop-shadow(0 0 0.65rem red);
}

.player-img {
  position: absolute;
  z-index: 100;
}

.game-area {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 85vh;
  align-items: center;
}

.game-stats {
  flex: 1;
  border: 1mm solid rgb(240, 140, 157);
  border-radius: 25px;
  margin-right: 3%;
  text-align: center;
  padding: 1%;
}

aside h3 {
  color: orange;
}

.cheer img {
  width: 70%;
}

.main-card-container {
  flex: 6;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-container {
  position: relative;
  width: 14.66%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms ease-in-out;
  z-index: 20;
  float: left;
  margin: 1%;
  cursor: pointer;
  filter: drop-shadow(0 0 0.1rem red);
}

.no-cursor {
  cursor: not-allowed !important;
}

.card-face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card-container:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.card-back, .card-front, .snoopy, .woodstock, .charlie, .linus, .lucy, .pepper, .pig, .sally, .schroeder {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card-back {
  position: absolute;
  background-image: url('./img/cover.png');
}

.card-front {
  position: absolute;
}

.card-container:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.snoopy {
  background-image: url('./img/cards/snoopy.jpg');
}

.woodstock {
  background-image: url('./img/cards/woodstock.gif');
}

.charlie {
  background-image: url('./img/cards/charlie.png');
}

.linus {
  background-image: url('./img/cards/linus.jpg');
}

.lucy {
  background-image: url('./img/cards/lucy.jpg');
}

.pepper {
  background-image: url('./img/cards/pepper.gif');
}

.pig {
  background-image: url('./img/cards/pig.png');
}

.sally {
  background-image: url('./img/cards/sally.gif');
}

.schroeder {
  background-image: url('./img/cards/schroeder.jpg');
}

.opacity-zero {
  opacity: 0;
}

.hidden {
  display: none;
}

.modal-style {
  background: aliceblue;
  color: #ec873a;
}

.lose-modal-style {
  background:whitesmoke;
  color: rgb(53, 106, 221);
}

.about-img {
  width: 50%;
}

.match1-move {
  animation: match1-mover 4s;
  animation-fill-mode: forwards;
}

.match2-move {
  animation: match2-mover 4s;
  animation-fill-mode: forwards;
}

.match3-move {
  animation: match3-mover 4s;
  animation-fill-mode: forwards;
}

.match4-move {
  animation: match4-mover 4s;
  animation-fill-mode: forwards;
}

.match5-move {
  animation: match5-mover 4s;
  animation-fill-mode: forwards;
}

.match6-move {
  animation: match6-mover 4s;
  animation-fill-mode: forwards;
}

.match7-move {
  animation: match7-mover 4s;
  animation-fill-mode: forwards;
}

.match8-move {
  animation: match8-mover 4s;
  animation-fill-mode: forwards;
}

.match9-move {
  animation: match9-mover 4s;
  animation-fill-mode: forwards;
}

@keyframes match1-mover
{
    from {
      right: 0%;
    }
    to {
        right: 9%;
    }
}

@keyframes match2-mover
{
    from {
      right: 9%;
    }
    to {
        right: 18%;
    }
}

@keyframes match3-mover
{
    from {
      right: 18%;
    }
    to {
        right: 27%;
    }
}

@keyframes match4-mover
{
    from {
      right: 27%;
    }
    to {
        right: 36%;
    }
}

@keyframes match5-mover
{
    from {
      right: 36%;
    }
    to {
        right: 45%;
    }
}

@keyframes match6-mover
{
    from {
      right: 45%;
    }
    to {
        right: 54%;
    }
}

@keyframes match7-mover
{
    from {
      right: 54%;
    }
    to {
        right: 63%;
    }
}

@keyframes match8-mover
{
    from {
      right: 63%;
    }
    to {
        right: 72%;
    }
}

@keyframes match9-mover
{
    from {
      right: 72%;
    }
    to {
        right: 81%;
    }
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(5deg);}
  25% {-webkit-transform: rotate(-5deg);}
  50% {-webkit-transform: rotate(10deg);}
  75% {-webkit-transform: rotate(-2.5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(0.5deg);}
  25% {-ms-transform: rotate(-0.5deg);}
  50% {-ms-transform: rotate(0.75deg);}
  75% {-ms-transform: rotate(-2.5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-2.5deg);}
  100% {transform: rotate(0deg);}
}

@media screen and (max-width: 993px) {
  .logo {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 870px) {
  .logo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 720px) {
  body {
    opacity: 0;
  }
}